ACTION=="add", SUBSYSTEM=="net", KERNELS=="0000:01:00.0", NAME="eth0"
ACTION=="add", SUBSYSTEM=="net", KERNELS=="0000:02:00.0", NAME="wlan0"
ACTION=="add", SUBSYSTEM=="net", ATTR{address}=="00:c0:ca:8a:f2:a5", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan1"
